<div class="row">
  <div *ngFor="let product of products" class="card col" style="width: 18rem">
    <img
          [src]="'http://localhost/assessment-e-commerce/mainmodule/' + product.image_path"
          class="card-img-top"
          data-bs-toggle="modal" data-bs-target="#viewItemModal"
          (click) = "viewItem(product.id)"/>
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
    </div>
    <div class="card-footer">
      <!-- Add Item Button with Plus Icon -->
      <button class="btn btn-primary" (click)="addToCart(product.id)">
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/shopping-cart--v1.png" alt="shopping-cart--v1"/> Add Item
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="viewItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div  class="card" style="width: 18rem" *ngFor="let product of selectedproduct">
    <div class="modal-content">
      <img
      [src]="'http://localhost/assessment-e-commerce/mainmodule/' + product.image_path"
      class="card-img-top"/>
<div class="card-body">
  <h5 class="card-title">{{ product.name }}</h5>
  <p class="card-text">{{ product.description }}</p>
</div>
<div class="card-footer">
  <!-- Add Item Button with Plus Icon inside the Modal -->
  <button class="btn btn-primary" (click)="addToCart(product.id)">
    <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/shopping-cart--v1.png" alt="shopping-cart--v1"/> Add Item
  </button>
</div>
    </div>
  </div>
  </div>
</div>
